.leaflet-container {
    background-color:rgba(255,0,0,0.0);
}
.leaflet-bottom,  {
    z-index: unset !important;
}

.leaflet-top, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    z-index: 10000000000 !important;
}